.store-card-map-img {
  width: 100%;
  height: 90%;
  border-radius: 10px;
}
.mapboxgl-popup .mapboxgl-popup-content {
  position: relative;
  padding: 5px;
  min-height: 350px;
  width: 300px;
  box-shadow: 0 1px 2pxrgba(0,0,0,.1);
  pointer-events: auto;
  border-radius: 10px;
}

.link-map {
  text-decoration: none;
  color: black;
}
