.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
}


.card-trip > img {
  height: 312px;
  width: 100%;
  object-fit: cover;
}


.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  font-family: $headers-font;
  margin: 0;
}

.card-trip .card-trip-infos {
  height: 136px;
}


.distance {
  background-color: $my-blue;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  box-shadow: 0 0 15px rgba(187, 187, 187, 0.5);
}

.distance-text {
  font-family: $headers-font;
  color:white
}

.red-heart {
  color: rgb(130, 33, 33);
  font-size: 24px;
}

.no-red-heart {
  color: rgb(127, 127, 127);
  font-size: 24px;
}

.discount-item-store {
  background-color: $my-orange;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  position: absolute;
  font-size: 16px;
  top: 16px;
  right: 20px;
}

.discount-product {
  background-color: $my-orange;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  margin-left: 70px;
  font-size: 17px;
}


.alert-no-favs {
  background-color: $mint;
}


.inactive-heart {
  padding: 3px;
  border-radius: 50%;
  background-color: white;
  border: 3px solid $my-orange;
  h3 {
    color: $my-orange;
  }
}

.active-heart {
  padding: 3px;
  border-radius: 50%;
  background-color: $my-orange;
  border: 3px solid $my-orange;
  h3 {
    color: white;
  }
}
