// index
.index-container {
  background-color: white;
}

// Discount btns
.discount-item {
  background-color: $my-orange;
  border-radius: 50%;
  height: 90px;
  width: 90px;
  box-shadow: 0 12px 12px rgba(187, 187, 187, 0.5);
}

.discount-item:hover {
  background-color: #e76c00;
  color: azure;
  transform: scale(1.5);
  transition: width .35s ease-in-out
}

.discount-amount {
  font-family: $headers-font;
  color: rgb(0, 0, 0);
  font-weight: bold;
}


// title
.title {
  font-family: $my-title;
  font-weight: 900;
  color: white;
  margin: 0 4px;

}

#logo {
  width: 36px;
  height: 36px;
}

.banner-index {
  background-color: $my-blue;
  margin: 0;
  height: 130px;

  width: 100%;
}

// map
.map-container {
  width: 100%;
  height: 100vh;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  margin: 50px 0;
}

// card
.best-stores {
  font-family: $headers-font;
  color: black;
  font-weight: bold;
}

.store-card {
  border-radius: 16px;
  min-width: 356px;
  box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.7);
  width: 100%;
  margin-bottom: 1.5em;
}

.card-link {
  text-decoration: none;
  color: black;
}
.card-discount-item {
  background-color: $my-orange;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.store-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 16px 16px 0 0;

}

.card-bottom {
  background-color: $mint;
  width: 100%;
  border-radius: 0px 0px 15px 15px;
}


.fa-clock, .fa-location-dot {
  color: black;
  width: 2rem;
  text-align: center;
}


.form-control {
  border-radius: 6px;
  width: 100%;
  margin-right: 16px;
  background-color: white;
  border: 1px solid $mint;
  box-shadow: 4px 2px 20px 0px rgba(149, 157, 165, 0.2);
}
.container {
  background-color: white;

}
