.title-dd {
  font-family: $headers-font;
  color: $white;
  text-align: center;
}

.discount-item {
  background-color: $my-orange;
  border-radius: 50%;
  height: 70px;
  width: 70px;
}
.discount-amount {
  font-family: $body-font;
  color: black;
}

.map-container {
  width: 100%;
  height: 250px;
}

.store-card {
  background-color: $mint;
  border-radius: 15px;
  min-width: 290px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-discount-item {
  background-color: $my-orange;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.store-image {
  height: 120px;
  width: 120px;
  border-radius: 15px;
}


.card-bottom {
  background-color: white;
  width: 100%;
  border-radius: 0px 0px 15px 15px;
}
