<% @store_reviews.each do |review| %>
  <h3><%= review.user.username %></h3>
  <% review.rating.times do %>
    <i class="fa-solid fa-star mb-4"></i>
  <% end %>
  <p><%= review.content %></p>
<% end %>
