<div class="d-flex flex-column" style="height: 100vh;">
  <div class="index-container flex-grow-1 ">

<%= render "pages/searchindex" %>

  <div class="d-flex justify-content-center mb-4 mt-4">
    <div class="banner-index d-flex justify-content-center align-items-center">
        <h1 class='title'>Discount</h1>
        <img id="logo" src=<%= asset_path('logo-white.png') %> alt="discount-discover">
        <h1 class='title'>Discover</h1>
    </div>
  </div>

   <div class="discounts-amount d-flex justify-content-around my-2">
      <%number = 10%>
      <% (1..4).each do %>
        <div class="discount-item d-flex align-items-center justify-content-center">
          <h5 class="discount-amount m-0"><%=number%>%</h5>
          <% number += 10 %>
        </div>
      <% end %>
  </div>

  <h3 class="ms-2 me-0 my-2 best-stores">Best rated stores</h3>

<div class="card-container px-4">
      <%@stores.first(8).each do |store| %>
        <%= render partial:'cardindex', locals: {store: store} %>
      <% end %>
    </div>

  <div class="footer">
  </div>

  </div>
</div>
