.store-banner {
  width: 100%;
  height: 130px;
  background-color: $my-blue;
  text-align: center;
  position: relative;
}

.store-banner h2 {
  color: white;
  font-weight: 500;
}

.fa-arrow-left {
  font-size: 24px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 16px;
  left: 20px;
}

.fa-store {
  color: rgb(255, 255, 255);
  margin-right: 12px;
}

.footer {
  width: 100%;
  height: 80px;
  background-color: white;
}

.discount-banner {
  background-color: $mint;
  height: 90px;
}

.discount-banner {
  color: white;
}
