.store-banner {
  width: 100%;
  height: 130px;
  background-color: $mint;
  text-align: center;
  position: relative;
}


.fa-arrow-left {
  font-size: 24px;
  color: black;
  position: absolute;
  top: 16px;
  left: 20px;
}

.fa-store {
  color: black;
  margin-right: 12px;
}

.footer {
  width: 100%;
  height: 80px;
  background-color: white;
}

.discount-banner {
  background-color: $mint;
  height: 90px;
}

.discount-banner > h2 {
  color: white;
}
