.btn-ghost {
  color: $black;
  border: 2px solid $mint;
  padding: 8px 24px;
  border-radius: 50px;
  transition: opacity 0.3s ease;
  text-align: center;
  text-decoration: none;

}

.btn-flat {
  color: black;
  padding: 8px 24px;
  border-radius: 50px;
  background: $mint;
  transition: background 0.3s ease;
  text-align: center;
  text-decoration: none;
}

.btn-danger {
  color: $cherry;
  border: 1px solid $cherry;
  padding: 8px 24px;
  border-radius: 50px;
  transition: opacity 0.3s ease;
  text-align: center;
  text-decoration: none;
}

.btn-container {
  width: 75%;
}

.my-store {
  width: 75%;
  text-decoration: none;
}

.store-link {
  font-size: 2em;
  color: black;
  text-decoration: none;
  margin-left: 20px;
}

hr {
  border: 0;
  height: 1px;
  background: rgb(94, 3, 3);
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  margin: 1rem 0
}
