.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#navbar {
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: $my-blue;
   height: 58px;
   padding: 16px;
}

.dropdown-menu {
  right: 0 !important;
  left: auto !important;
}

.btn-navbar {
  border: none;
  background-color: $my-blue;
  color: white;
}

.btn-navbar:hover {
  color: $my-orange;
  transition: width .35s ease-in-out;
  opacity: 0.6;
}

.fa-solid {
  font-size: 28px;
  color: white;
}

.fa-solid:hover {
  color: $my-orange;
  transition: width .35s ease-in-out;
  opacity: 0.6;
}
