<div class="index-container">

  <div class="store-banner d-flex align-items-center mb-3">
    <%= link_to store_path(@store) do %>
      <i class="fa-solid fa-arrow-left"></i>
    <% end %>

    <div class="container d-flex justify-content-center">
      <h2>Your products:</h2>
    </div>

  </div>


  <div class="container py-5">
    <div class="d-flex align-items-center justify-content-end mb-3">
      <h1>This are the products of your store</h1>
    </div>
  </div>

    <div class="container position-absolute top-50 start-50 translate-middle">
      <% @products.each do |product| %>
          <%= link_to store_products_path, class:"store-link" do %>
            <div class="d-flex justify-content-between align-items-center">
              <%= product.name %>
              <%# <%= link_to "See store", store_path(@store), class: "btn-flat my-3" %>
            </div>
          <% end %>
          <hr>
      <% end %>
    </div>


</div>
